<!-- /*<style>
.topnav{
  margin-bottom: -1px !important;
}
.navbar.center .navbar-collapse {
    text-align: center;
}

.navbar.center .navbar-collapse .nav {
    display:inline-block;
    float: none;
}
</style>
<nav class="navbar navbar-default center">
  <div id="navbar-occasion" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <% @occbar.each  do |occ| %>
      <li><%= link_to occ.name, occasion_path(occ.id) %></li>
    <% end %>
  </ul>

</nav>*/ -->
