// Place all the styles related to the occasions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic);
.thumb {
  width: 250px;
  height: 187px;
  border-radius: 100px;
  margin-top: 35px;
}
.thumbAdmin {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}
.itemInfo{
  clear: both;
}
body {
  font-family: 'Libre Baskerville', serif;
    background-color: lightblue;
}
.addToCartButton{

}

.cartDisplay{
  display: inline;
  float:left;
}
.lineItem > img{
  width: 70px;
  height: 70px;
  border-radius: 10px;
}
// .container {
//  max-width: 960px;
//  margin: 0 auto;
// }
// .addGiftLink{
//  color: green !important;
// }
.addGiftPanel {
  // display: none;
}
.fontSize{
  font-size: 15px;
  float:left;
  margin-bottom: 20px;
  margin-left: 70px;
  margin-right: 20px;
  margin-top: 20px;
}
.giftTable{
float: left

}
#cartCount{
  margin-left: 5px;
  margin-right: 5px;
}
#idcartDisplay{
  display: inline-flex;
  margin-top: 15px;
margin-right: 10px;
}
#space{
  margin-left: 5px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  background: snow;
}
// div.scHeading{
// width: 100%;
// }
.rowModalPopup{
margin-right: 180px;
}
.colModalPopup{
  width: 22%;
  height : 180px;
}


 span.scContainer{
   clear: both;
 }

.lineItem {
   margin-bottom: 1em;
 }

#shoppingCartView{
  //max-height: 300px;
/* overflow: scroll; */
display: inline-flex;
max-width: 460px;
//background-color: #eeeeee;
padding: 20px;
//display:none;
}
.occLabelClass{
  font-size: 15px;
  float:left;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: -50px;
}
#titleQuantity{

}
