<div class="col-md-4 col-md-offset-2">
  <%= form_for @occasion, :html => {:class => "form-horizontal center"} do |f| %>
<div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit  "Save Occasion" , class: 'btn btn-default'%>
  </div>
  <% end %>
</div>
